<!DOCTYPE html>
<html>
    <head>
        <title>Хакатон Infostart Event 2018</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
    </head>
    <body>
        <div class="ui container" style="margin-top: 40px;">
            <h1>Infostart Event 2018</h1>
            <p class="ui message">Добро пожаловать на Хакатон Infostart!</p>

            <h2>Для работы нам потребуется:</h2>
            <ul class="ui list">
                <li>
                    <i class="edit icon"></i> <a href="https://code.visualstudio.com/download">Visual Studio Code</a>
                </li>
                <li>
                    <i class="edit icon"></i> <a href="https://git-scm.com/download/win">Git For Windows</a>
                </li>
                <li>
                    <i class="edit icon"></i> <a href="http://oscript.io/downloads">Среда исполнения 1Script</a>
                </li>
                <li>
                    <i class="edit icon"></i> <a href="https://github.com/EvilBeaver/OneScript.Web/releases">Веб-платформа 1Script</a>
                </li>
                <li>
                    <i class="edit icon"></i> <a href="https://github.com/EvilBeaver/webapp-template">Шаблон пустого веб-приложения</a>
                </li>
            </ul>

            <h2>Кроме того, рекомендуется прочитать вводные статьи</h2>
            <ul class="ui list">
                <li>
                    <i class="edit icon"></i> <a href="https://infostart.ru/public/722160/">Веб разработка на 1Script. Введение.</a>
                </li>
                <li>
                    <i class="edit icon"></i> <a href="https://infostart.ru/public/783435/">Веб разработка на 1Script. Глава 1.</a>
                </li>
                <li>
                    <i class="edit icon"></i> <a href="https://infostart.ru/public/821424/">Веб разработка на 1Script. Глава 2.</a>
                </li>
            </ul>

            <h2>Материалы для решения задач</h2>
            <ul class="ui list">
                <li>
                    <i class="edit icon"></i> <a href="http://web.oscript.io">Синтакс-помощник веб-платформы 1Script</a>
                </li>
                <li>
                    <i class="edit icon"></i> <a href="http://oscript.io/syntax">Синтакс-помощник 1Script</a>
                </li>
                <li>
                    <i class="edit icon"></i> <a href="https://infostart.ru/public/699642/">Обзор готовых библиотек 1Script от nixel2007</a>
                </li>
                <li>
                    <i class="edit icon"></i> <a href="http://hub.oscript.io">Полный перечень готовых библиотек 1Script</a>
                </li>
                <li>
                    <i class="edit icon"></i> <a href="@Url.RouteUrl("Прокси")">Прокси Telegram API - @Url.RouteUrl("Прокси")</a>
                </li>
                <li>
                    <i class="edit icon"></i> <a href="https://tlgrm.ru/docs/bots/api">Документация ботов Telegram.</a>
                </li>
                <li>
                    <i class="edit icon"></i> <a href="https://core.telegram.org/bots#botfather">Документация на английском (более полная)</a>
                </li>
            </ul>

            <h2>Примеры существующих веб-приложений</h2>
            <ul class="ui list">
                <li>
                    <i class="edit icon"></i> <a href="https://github.com/EvilBeaver/os-hub-frontend">Хаб пакетов 1Script</a>
                </li>
                <li>
                    <i class="edit icon"></i> <a href="https://github.com/EvilBeaver/odminus">Odminus. Консоль администрирования серверов 1С</a>
                </li>
                <li>
                    <i class="edit icon"></i> <a href="https://gitlab.com/EvilBeaver/ie2018-hackathon">Данная страничка и прокси телеграма</a>
                </li>
            </ul>

        </div>
    </body>
</html>